
//about
.about {
  background: url('./images/about.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;

  p {
    width: 350px;
    float: right;
    text-align: right;
    background-color: rgba($color5 , 0.8);
    padding: 1.5em;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
}
