
//about
.about {
  background: url('./images/3.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;

  p {
    width: 600px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    @media screen and (max-width: 640px) {
      width: 100%;
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
    }
  }
}
