.contact {
  background: $color5;
}

.contact-form {
  width: 50%;
  float: left;
}

.contact-info {
  width: 40%;
  float: right;

  h5 {
    margin-bottom: 15px;
  }

  li {
    list-style-type: none;
  }
}
