.contact {
  background: $color5;

  ul {
    padding: 0;
  }
}

.contact-form {
  width: 50%;
  float: left;

  @media screen and (max-width: $M) {
    width: 100%;
  }
}

.contact-info {
  width: 40%;
  float: right;

  @media screen and (max-width: $M) {
    width: 100%;
  }

  h5 {
    margin-bottom: 15px;
  }

  li {
    list-style-type: none;
  }
}

.contact-info--title {
  font-size: 1.4em;
  font-family: $font__secondary;
  font-weight: bold;
  margin: 0.9em 0;
}
