.hero {
  padding: 150px 0 200px 0;
  background: url('./images/1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.hero-slogan {
  padding-top: 100px;

  h1 {
    font-weight: 100;
    margin: 0;
    font-style: italic;
    border-left: 3px solid $color1;
    padding-left: 12.5px;
    text-shadow: 2px 2px 0px black;

    &:nth-child(2) {
      margin-top: -30px;
      font-size: 2.2em;
    }
  }

  h6 {
    font-weight: 100;
    text-shadow: 2px 2px 0px black;
  }
}
