.hero {
  padding: 3em 0;
  background: url('./images/hero.jpg') no-repeat center center;
  background-size: cover;
  height: 90%;

  @media screen and (max-width: $M) {
    padding-top: 5em;
    height: auto;
  }

  .container {
    position: relative;
    height: 100%;
  }
}

.hero-title {
  border-left: 3px solid $color1;
  padding-left: 12.5px;

  h1 {
    font-weight: 700;
    margin: 0;
    font-style: italic;
    text-shadow: 2px 2px 0px black;

    @media screen and (max-width: $M) {
      font-size: 1.8em;
    }
  }

  h2 {
    font-weight: 100;
    margin-top: -25px;
    font-size: 2.2em;
    @media screen and (max-width: $M) {
      font-size: 1.6em;
      margin-top: -15px;
    }
  }
}

.hero-slogan {
  font-weight: 100;
  text-shadow: 2px 2px 0px black;
  width: 40%;

  @media screen and (max-width: $M) {
    width: 100%;
  }
}

.hero-info {
    background-color: rgba($color5 , 0.8);
    padding: 0.5em 1em;
    width: 350px;
    @media screen and (max-width: $S) {
      width: 100%;
    }

  a {
    text-decoration: none;
    font-weight: 400;

  }
}

.sgi {
  position: absolute;
  right: 1em;
  bottom: 0;
  height: 50px;
  opacity: 0.7;

  @media screen and (max-width: $S) {
    display: none;
  }
}
