.site-footer {
  display: none;
}

.content-area,
.container {
  width: 90%;
  margin: 0 auto;
}

.services,
.products,
.contact {
  padding: 100px 0;
}

.section-title {
  background: $color1;
  padding: 12.5px 25px;
}

.section-headline {
  font-weight: 100;
  border-left: 3px solid $color1;
  padding-left: 12.5px;
  text-shadow: 2px 2px 0px black;
}
