
//products
.products {
  background: url('./images/2blur.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;

  p {
    width: 350px;

    @media screen and (max-width: $S) {
      width: 100%;
    }
  }
}
