
//products
.products {
  background: url('./images/products.jpg') no-repeat center center;
  background-size: cover;
  padding: 100px 0;

  p {
    width: 350px;
    background-color: rgba($color5 , 0.8);
    padding: 1.5em;

    @media screen and (max-width: $S) {
      width: 100%;
    }
  }
}
