
//products
.products {
  background: url('./images/products.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  @media screen and (max-device-width: 1024px) {
    background-attachment: scroll;
  }

  p {
    width: 350px;
    background-color: rgba($color5 , 0.8);
    padding: 1.5em;

    @media screen and (max-width: $S) {
      width: 100%;
    }
  }
}
