.services {
  background: url('./images/services.jpg') no-repeat center center;
  background-size: cover;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 33.3333%;
    float: left;
    height: 230px;
    padding-right: 6%;
    font-size: 0.9em;
    @media screen and (max-width: $L) {
      width: 50%;
    }

    @media screen and (max-width: $M) {
      width: 100%;
      height: auto;
      padding: 25px 0;
    }

    h5 {
      margin: 0 0 10px 0;
      text-shadow: 2px 2px 0px black;
    }
  }

}
