.services {
  background: url('./images/tirebg2.jpg');
  background-size: cover;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 33.3333%;
    float: left;
    height: 230px;
    padding-right: 5%;
    font-size: 0.9em;

    h5 {
      margin: 0;
    }
  }

}
