.services {
  background: url('./images/4.jpg');
  background-size: cover;
  background-attachment: fixed;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 33.3333%;
    float: left;
    height: 230px;
    padding-right: 6%;
    font-size: 0.9em;

    h5 {
      margin: 0 0 10px 0;
      text-shadow: 2px 2px 0px black;
    }
  }

}
