$color1: #B7A063;
$color2: #3F486A;
$color3: #0AA0D9;
$color4: #6C6E70;
$color5: #2D3033;
$color6: #FFF;

$color__background-body: $color2;
$color__background-hr: $color4;
$color__background-button: $color4;

$color__link: $color1;
$color__link-hover: $color3;
$color__text-main: $color6;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;







//
$color__link-visited: $color__link;
$color__background-screen: $color__background-body;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__border-abbr: #666;
$color__border-input: #ccc;

$color__background-pre: $color4;
$color__background-ins: $color4;
