input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: darken($color6, 20%);
	border: 1px solid $color__border-input;
	background: rgba(0,0,0,0.1);
	width: 100%;

	&:focus {
		color: $color1;
		border: 1px solid $color1;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 10px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
